<%= params.inspect %>
<br />

<h3>Search</h3>

<%= form_tag images_path, :method => 'get' do %>
   <text>Object:</text>
   <%= select_tag :search_btype, options_for_select([["Select body type", ""],
                                                "Comet",
                                                "Meteor",
                                                "Not Defined",
                                                "Galaxy",
                                                "Satellite",
                                                "Star"], 
                                                params[:search_btype]) %><br />

   <text>Date:</text>
   <%= date_field_tag :search_date, params[:search_date],
                     "data-provide" => 'datepicker' %><br />
   <%= submit_tag "Search" %>
<% end %>

<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Body Type</th>
         <th>Image</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @Images.each do |t| %>
         
         <tr>
            <td><%= t.body_type %></td>

            <% if t.attachment.file.identifier == "no_image" ||  t.attachment.file.identifier == nil %>
               <td><%= link_to image_tag("/uploads/image/img-not-found-200x180"), 
                                         image_show_path(t) %></td>
            <% else %>
               <td><%= link_to image_tag(t.attachment_url(:thumb)), image_show_path(t) %>
               <!--<td><%= link_to image_tag(t.attachment_url(:thumb)), t.attachment_url %></td>-->
            <% end %>

            <td><%= button_to "Delete", t, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete the image?" %></td>
         </tr>
         <% end %>
   </tbody>
</table>

<% if params.has_key?(:id) %>
   <% page = params[:id] %>
<% else %>
   <% page = "1" %>
<% end %>

<nav>
   <ul class = "pagination">

   <% if page == "1" %>
      <li class = "page-item disabled">
   <% else %>
      <li class = "page-item">
   <% end %>
      <a class = "page-link" href = <%= image_gallery_path(page.to_i - 1) %>
          aria-label "Previous">
         <span aria-hidden = "true">&laquo;</span>
         <span class = "sr-only">Previous</span>
      </a>
   </li>

   <li class = "page-item active"><%= link_to(page, image_gallery_path(page.to_i), class: "page-link") %></li>

   <li class = "page-item">
      <a class = "page-link" href = <%= image_gallery_path(page.to_i + 1) %>
          aria-label "Next">
         <span aria-hidden = "true">&raquo;</span>
         <span class = "sr-only">Next</span>
      </a>
   </li>
   </ul>
</nav>


</html>