<h3><%= @Image.title %></h3>
<br />

<% if @Image.attachment.file.identifier == "no_image" ||  @Image.attachment.file.identifier == nil %>
	<%= image_tag("/uploads/image/img-not-found.png") %>
<% else %>
    <%= image_tag(@Image.attachment_url(:downscaled)) %>
    <br />
	<%= link_to "View Raw", @Image.attachment_url, class: "btn btn-primary" %>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? or current_user == @Image.user %>
	<%= button_to "Delete", @Image, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure that you wish to delete the image?"} %>
<% end %><% end %>
<br /><br />

<h3><b>Information</b></h3>
<p><b>Type of object: </b><%= @Image.body_type %></p>
<p><b>Location: </b></b><%= @Image.location %></p>
<p><b>Dimensions: </b><%= @Image.width %>x<%= @Image.height %></p>
<p><b>Uploaded by: </b><%= @Image.user.first_name + " " + @Image.user.last_name %></p>
<p><b>Uploaded at: </b><%= @Image.created_at %></p>
<p><b>Description:</b></p>
<p class = "description"><%= @Image.description %></p>

<hr>

<% if false %>
	<h3>No Comments</h3>
<% else %>
	<h3>Comments (<%= @Image.comments.count %>)</h3>
<% end %>

<% if user_signed_in? %>
<% if not current_user.guest? %>
<%= form_for ([@Image, @Image.comments.build]) do |f| %>
	<p>
		<%= f.label "Write comment" %>
	<p>
	<p>
		<%= f.text_area :text %>
	</p>
	<p>
		<%= f.submit "Post comment" %>
	</p>
<% end %>
<% end %>
<% end %>

<br/>

<% @Image.comments.each do |t| %>
	<% if !t.new_record? %>
	<% if t.text != ""%>
		<p><b><%= t.user.first_name + " " + t.user.last_name %>
			<%= " - " + t.created_at.to_s(:db) %></b></p>
		<p><%= t.text %></p>
		<br />
	<% end %>
	<% end %>
<% end %>